$Quicksand: 'Quicksand', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Open_Sans: 'Open Sans', sans-serif;

$red:#D43F3F;
$light_red:#FFD7D7;

$white: #FFF;

$blue: #3A79FF;

$black_blue_1:#697CA6;
$black_blue_2: #3D4F9F;
$black_blue_3: #4074F8;
$black_blue_4:#565F82;
$black_blue_5:#495274;
$black_blue_6:#7A85AD;
$black_blue_7:#6188FF;
$black_blue_8:#5E81FE;

$light_blue_1: #D2E1FF;
$light_blue_2: #8D96BD;
$light_blue_3: #ADB4D2;
$light_blue_4:#A6B6DA;
$light_blue_5:#C7D3FF;
$light_blue_6:#7382A3;
$light_blue_7:#AEB8D0;
$light_blue_8:#8E96B7;
$light_blue_9:#B6BAC7;
$light_blue_10:#70788E;
$light_blue_11:#757E9A;


$padding: 30px;

$max-width: 1206px;

$company: 116.587px;
$logo: 26px;
$social: 162px;
$app: 653px;
$clouds: 1201px;
$clouds_2: 1297px;
$our_app: 69px;
$main: 1441px;
$arrow_right: 6.5px;
$arrow_blue: 23px; 
$blog_1: 267.32px;
$blog_2: 126.836px;
$search: 65.024px;
$point: 30px;
$people: 62px;

$font-size_link: 12px;
$font-size_title: 48px;
$font-size_text: 15px;
$font-size_subtitle: 36px;
$font-size_button: 13px;